<div fxLayout="column">
  <div fxFlex="15" class="header">
    <h1>Cart</h1>
  </div>
  <div fxFlex="65">
    <div *ngIf="cart.length === 0" class="empty-cart">
      Cart is empty
    </div>
    <div class="list"  *ngIf="cart.length > 0">
      <mat-list #items>
        <mat-list-item *ngFor="let item of cart">
          <div fxLayout="row">
            <div class="cover" fxFlex="20">
              <img src="{{item.cover}}" alt="cover">
            </div>
            <div class="title" fxFlex="30">
              {{item.title}}
            </div>
            <div fxFlex="10">
              {{item.quantity}}
            </div>
            <div fxFlex="15">
              {{item.price + ' ' + item.currency}}
            </div>
            <div fxFlex="15">
              {{(item.quantity * item.price).toFixed(2) + ' ' + item.currency}}
            </div>
            <div fxFlex>
              <button mat-icon-button (click)="removeFromCart(cart.indexOf(item))">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="total">Total: {{totalAmount.toFixed(2) + ' PLN'}}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
